.main-button {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #000000;
    border-radius: 4px;
    background-color: #D8A6ED;
}

.main-button:hover {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #000000;
    border-radius: 4px;
    background-color: #BA80D2;
}

.secondary-button-navbar {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
    margin-right: 16px;
}

.secondary-button-navbar:hover {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #D8A6ED;
    border: 2px solid;
    border-color: #D8A6ED;
    border-radius: 4px;
    margin-right: 16px;
}

.secondary-button {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 4px;
}

.secondary-button:hover {

    padding: 16 64;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #D8A6ED;
    border: 2px solid;
    border-color: #D8A6ED;
    border-radius: 4px;
}